* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
   
    min-height: 1000px;
    


}


.header{
    grid-column: 1 / span 3;
    grid-row: 1;
    height: 100px;
}



.logo {
    position: absolute;
    margin-left: 5%;
    margin-top: 15px;
    cursor: pointer;
}



.navbar {
    display: flex;
    justify-content:end;
    font-family: 'Montserrat',  sans-serif;
    
    
}

.nav_item_group {
    margin-right: 3%;
    margin-top: 15px;
    
}

.nav_item_group ul {
    display: flex;
    text-align: center;
    gap:1em;
    
}

.navbar li {
    list-style: none;
}



.navbar li a {
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    color:black; 
}



.navbar li:hover{
    transform: scale(1.2);
    transition: all .4s  ease-in-out;
}


.navbar li a:hover{
    color:#48435c;

} 

.navItem.big{
    color:#48435c;
    transform: scale(1.2);
}


/*-----------------------------MENU BURGER--------------------*/
.hamburger_bloc {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    
    position: relative;
    display:none;
    cursor: pointer;
    transition: all .5s ease-in-out;
    


}


.hamburger_lines  {
    
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(40px);
    margin: auto;
    
}

.hamburger_lines::before,
.hamburger_lines::after {
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;


}

.hamburger_lines::before {
    transform: translateY(-16px);
}

.hamburger_lines::after {
    transform: translateY(16px);
}
/***********************ANIMATION DES BARRES************************/
.hamburger_bloc.open .hamburger_lines {
    
    background: transparent;


    
}
.hamburger_bloc.open .hamburger_lines::before{
    transform: rotate(45deg) ;
}

/*.hamburger_bloc.open .hamburger_lines::before {
    transform: rotate(45deg) translate(35px, -35px);
}*/

.hamburger_bloc.open .hamburger_lines::after {
    transform: rotate(-45deg) ;
}



/*------------------------------------------------fin header Navbar--------------------------------------------*/

.amelia_group{
    grid-column: 1 / span 3;
    grid-row:1;
    background-color: rgb(62, 62, 62);
    
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.amelia {
    font-size: 18px;
    line-height:83px;
    color: white;
    font-weight: 500;
    
}


.amelia_group h1 {
    font-family: 'Monsserat', sans-serif;

}

.amelia_group p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;

}




.banner_icon {
    grid-column: 1/ span 3;
    grid-row:2;
    background-color: rgb(16, 201, 195);
    display: flex;
    justify-content: space-around;
    height: 241px;
    align-items: center;
    font-family: 'Monserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}


.portfolio, .time, .star, .heart  {
    display: flex;
    gap:20px;
}

.number {
    padding-top: 5px;
}



.icon_text {
    font-size: 12px;
    line-height: 30px;

}


.grey_square, .about_me {
    height: 541px;
}

.grey_square {
    background-color: rgb(225, 225, 225);

}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-color: rgb(245,  245, 245);
    width: 80%;
    height: 70%;
    margin: auto;
}

.about_me h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Monserrat', sans-serif;
}

.big_about_me {
    display: flex;
    align-items: center;
    height: 541px;
    width: 100%;
    background-color: rgb(245,  245, 245);
   
}

.given, .above {
    font-size: 16px;
    font-weight: 400;
    color:#787878;
    font-family: 'Nunito Sans', sans-serif;


}



.need {
    grid-column: 1 / span 3;
    grid-row: 4;
    height: 397px;
    
}

.project {
  height: 100%;  
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.project h1 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500px;
    font-family: 'Monserrat', sans-serif;
    color: #1d1d1d;
    line-height: 84px;
}

.project p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
    line-height: 24px;
}

.btn_container {
    display: flex;
    justify-content: center;
    padding-top: 20px ;
}

.btn {
    height:55px;
    width: 181px;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: rgb(16, 201, 195);
    font-weight: 500;
    font-family:'Monserat', sans-serif ;
    color: #ffffff;
    cursor: pointer;
    
    
}

.btn a {
    text-decoration: none;
}





/*------------------------------------------------------------fin MAIN_GRID-------------------------------------------*/




/*---------------------------------------------------FOOTER--------------------------------------------------*/


.footer {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    width:100vw;
    height: 300px;
    background-color: rgb(20,20,20);
    color: white;
    align-items: center;
}

.piroll_design {
    display: flex;
    flex-direction: column;
    margin-top: -27px;
    gap:20px;
    
}

.piroll h2 {
    font-family: 'Monserrat', sans-serif;
}

.piroll p {
    font-family: 'Nunito Sans', sans-serif;
}

.copyright p {
    color: rgb(188, 188, 188);

}

.hello {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: -59px;
    color: rgb(188, 188, 188);
}

.hello p {
    line-height: 25px;
}



.projects_news {
    font-family: 'Nunito Sans', sans-serif;
    display:flex;
    width: 200px;
    justify-content: space-between;
    
    
    
}

.projects_news ul li {
    line-height: 25px;
    color: rgb(188, 188, 188);
    list-style: none;
    
}

.projects  {
    height: 100px; 
    
    
}


/*----------------------------------------------TO DO-------------------------------*/
/*-------------------------------METTRE DE L'ESPACEMENT ENTRE LES LIENS--------------*/
.projects_news ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.projects_news li a {
    text-decoration: none;
    color: rgb(188, 188, 188)
    
}


.projects_news li a:hover {
    color: white;
}


.projects_news li:hover {
    transform: scale(1.2);
}

.reseaux li {

    list-style: none;
    line-height: 25px;

}

.reseaux li a {
    text-decoration: none;
    color: rgb(188, 188, 188);

}

.reseaux li a:hover {
    color: white;

}

.reseaux li:hover {
    transform: scale(1.2);
}



/*------------------------------------------------MEDIA QUERY--------------------------------*/







@media all and (max-width:1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}




@media all and (max-width:900px) {
    .grid {
        grid-template-columns:  1fr;
    }

}

@media all and (max-width:750px) {
    .logo {
        position: absolute;
        z-index: 1;
        margin-left: 5%;
        margin-top: 15px;
        cursor: pointer;
    }



    .hamburger_bloc{
        display: block;
        position: absolute;
        right:5px;
        top:0px
       
    }
    
    .nav_item_group {
        display: none;
    }
    
    .nav_item_group ul a {
        color: white;

    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        height: 0;
        width: 100%;
        transform: translateY(-135%);
        transition: 0.4s transform ease-in-out;
        position: absolute;
        
    }
    .nav_item_group ul {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
    }

    .nav_menu .open_nav {
        display: flex;
        flex-direction: column;
        background: #48435C;  
        margin: auto;
        justify-content: space-around;
        
    }

    .open_nav {
        transform: initial;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content:space-around ;
        background: #48435C;
        width: 100%;
        margin-left: 0px;
        

    }


    .main_grid {
        display: grid;
        grid-template-columns: 1fr ;
       
        
    }

    /* .banner_icon { 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
    }*/

    .grey_square {
        grid-row: 3;
    }

    .big_about_me {
        grid-row: 4;
    }

    .need {
        grid-row: 5;
    }
    



    .footer {
        flex-direction: column;
        text-align: center;
        height: 1000px;
        font-size: 1.3em;
    }

    .projects_news {
        
        flex-direction: flex;
        font-size: 1.4em;
        justify-content: space-between;
        width: 296px; 
        margin-top: -70px;
    }
    
    .projects_news ul li {
        line-height: 50px;       

    }
    
    .reseaux ul li {
        font-size: 1.4em;
        line-height: 50px;
    }





}